<footer>
    <section>
        <div class="logo"><a href="/"><img src="/img/domino8.png" alt="Logo"></a></div>
        <div class="info">
            <article>
                <ul>
                    <li>
                        <h4>Atención al cliente</h4>
                    </li>
                    <li><a href="">Contactanos</a></li>
                    <li><a href="">Preguntas frecuentes</a></li>
                    <li><a href="">Envios</a></li>
                    <li><a href="">¿Cómo comprar? </a></li>
                </ul>
            </article>
            <article>
                <ul>
                    <li>
                        <h4>Empresa</h4>
                    </li>
                    <li><a href="">¿Quiénes somo?</a></li>
                    <li><a href="">Nuestros locales</a></li>
                    <li><a href="">Terminos y condiciones</a></li>
                </ul>
            </article>
            <article>
                <ul>
                    <li>
                        <h4>Mi cuenta</h4>
                    </li>
                    <li><a href="">Registrarse</a></li>
                    <li><a href="">Iniciar sesión</a></li>
                    <li><a href="">Carrito</a></li>
                </ul>
            </article>
        </div>
    </section>
    <div class="redes">
        <p>Seguinos</p>
        <ul>
            <li><a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="https://instagram.com" target="_blank"><i class="fab fa-instagram-square"></i></a></li>
            <li><a href="https://twitter.com" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
        </ul>
    </div>
</footer>