<header>
    <section class="header-sup">
        <div class="logo">
            <a href="/"><img src="/img/domino8.png" alt="Logo"></a>
        </div>
        <div class="buscador">
            <form action=""><input class="buscar" type="text" placeholder="¿Qué estás buscando?"><button
                    type="submit"><i class="fas fa-search"></i></button></form>
        </div>
        <nav class="burger-buscar">
            <ul class="nav1">
                <li><a href=""><i class="fas fa-bars"></i></a></li>
                <li><a href=""><i class="fas fa-search"></i></a></li>
            </ul>
        </nav>
        <nav>
            <ul class="nav2">
                <li><a href="/login"><i class="fas fa-user-circle"></i></a></li>
                <li><a href="/carrito"><i class="fas fa-shopping-cart"></i></a></li>
                <li><a href="/favorito"><i class="fas fa-heart"></i></a></li>
            </ul>
        </nav>

    </section>
    <section>
        <nav>
            <ul class="nav-principal">
                <li><a href="/hombre">HOMBRE</a></li>
                <li><a href="/mujer">MUJER</a></li>
                <li><a href="/saler">SALE!</a></li>
                <li><a href="/originales">ORIGINALES</a></li>
                <li><a href="/locales">Locales</a></li>
                <li><a href="/cambios">Cambios</a></li>
                <li><a href="/ayuda">Ayuda</a></li>
            </ul>
        </nav>
    </section>
</header>