<header>
    <section class="header-sup">
        <div class="logo">
            <a href="/"><img src="/img/products/domino8.png" alt="Logo"></a>
        </div>
        <div class="buscador">
            <form action="/search" method="GET">
                <input class="buscar" type="text" name="buscador" placeholder="¿Qué estás buscando?"><button
                    type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <nav class="burger-buscar">
            <ul class="nav1">
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-bars"></i></a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <div class="close">
                            <button type="button" class="btn-close" aria-label="Close"></button>
                        </div>

                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseOne" aria-expanded="false"
                                        aria-controls="flush-collapseOne">
                                        <a class="dropdown-item" href="#">HOMBRE</a>
                                    </button>
                                </h2>
                                <div id="flush-collapseOne" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <ul>
                                            <li class="li-mobile">
                                                <h4><a href="">Indumentaria</a></h4>
                                                <hr class="dropdown-divider">
                                                <ul>
                                                    <li><a class="categorias" href="">Buzos</a></li>
                                                    <li><a class="categorias" href="">Camperas</a></li>
                                                    <li><a class="categorias" href="">Pantalones</a></li>
                                                    <li><a class="categorias" href="">Remeras</a></li>
                                                </ul>
                                            </li>
                                            <li class="li-mobile">
                                                <h4><a href="">Calzado</a></h4>
                                                <hr class="dropdown-divider">
                                                <ul>
                                                    <li><a class="categorias" href="">Zapatillas</a></li>
                                                    <li><a class="categorias" href="">Borcegos</a></li>
                                                </ul>
                                            </li>
                                            <li class="li-mobile">
                                                <h4><a href="">Accesorios</a></h4>
                                                <hr class="dropdown-divider">
                                                <ul>
                                                    <li><a class="categorias" href="">Barbijos</a></li>
                                                    <li><a class="categorias" href="">Bolsos</a></li>
                                                    <li><a class="categorias" href="">gorras</a></li>
                                                    <li><a class="categorias" href="">Mochilas</a></li>
                                                    <li><a class="categorias" href="">Riñoneras</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                        aria-controls="flush-collapseTwo">
                                        <a class="dropdown-item" href="#">MUJER</a>
                                    </button>
                                </h2>
                                <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <ul>
                                            <li class="li-mobile">
                                                <h4><a href="">Indumentaria</a></h4>
                                                <hr class="dropdown-divider">
                                                <ul>
                                                    <li><a class="categorias" href="">Buzos</a></li>
                                                    <li><a class="categorias" href="">Camperas</a></li>
                                                    <li><a class="categorias" href="">Pantalones</a></li>
                                                    <li><a class="categorias" href="">Remeras</a></li>
                                                </ul>
                                            </li>
                                            <li class="li-mobile">
                                                <h4><a href="">Calzado</a></h4>
                                                <hr class="dropdown-divider">
                                                <ul>
                                                    <li><a class="categorias" href="">Zapatillas</a></li>
                                                    <li><a class="categorias" href="">Borcegos</a></li>
                                                    <li><a class="categorias" href="">Botas</a></li>
                                                </ul>
                                            </li>
                                            <li class="li-mobile">
                                                <h4><a href="">Accesorios</a></h4>
                                                <hr class="dropdown-divider">
                                                <ul>
                                                    <li><a class="categorias" href="">Barbijos</a></li>
                                                    <li><a class="categorias" href="">Bolsos</a></li>
                                                    <li><a class="categorias" href="">gorras</a></li>
                                                    <li><a class="categorias" href="">Mochilas</a></li>
                                                    <li><a class="categorias" href="">Riñoneras</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseThree" aria-expanded="false"
                                        aria-controls="flush-collapseThree">
                                        <a class="dropdown-item" href="#">SALE</a>
                                    </button>
                                </h2>
                                <div id="flush-collapseThree" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <ul>
                                            <li><a class="dropdown-item" href="#">20% Off</a></li>
                                            <li><a class="dropdown-item" href="#">40% Off</a></li>
                                            <li><a class="dropdown-item" href="#">60% Off</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Favoritos</a></li>
                        <li><a class="dropdown-item" href="#">Locales</a></li>
                        <li><a class="dropdown-item" href="/vistas/cambios">Cambios</a></li>
                        <li><a class="dropdown-item" href="/vistas/preguntas">Ayuda</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <% if (locals.userLogin) { %>
                            <li><a class="dropdown-item" href="/users/miperfil">Mi Perfil</a></li>
                            <li><a class="dropdown-item" href="/users/logout">Cerrar Sesión</a></li>
                            <% } else { %>
                                <li><a class="dropdown-item" href="/users/login">Inicia sesión</a></li>
                                <li><a class="dropdown-item" href="/users/register">Registrate</a></li>
                                <% } %>
                    </ul>
                </li>
                <li><a href=""><i class="fas fa-search"></i></a></li>
            </ul>
        </nav>
        <nav class="nav_profile">
            <% if (locals.userLogin) { %>
                <ul class="nav2">
                    <li><a href="/products/carrito"><i class="fas fa-shopping-cart"></i></a></li>
                    <li><a href="/favorito"><i class="fas fa-heart"></i></a></li>
                    <li class="nav-item dropdown locals_image locals">
                        <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><img
                                src="/img/users/<%= userLogin.avatar %>" alt=""></a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="padding: 0;">
                            <li><a class="dropdown-item" style='border-right:1px solid gray' href="/users/miperfil">Mi
                                    Perfil</a></li>
                            <li><a class="dropdown-item" href="/users/logout">Cerrar Sesión</a></li>
                        </ul>
                    </li>
                </ul>
                <% } else { %>
                    <ul class="nav2">
                        <li><a href="/products/carrito"><i class="fas fa-shopping-cart"></i></a></li>
                        <li><a href="/favorito"><i class="fas fa-heart"></i></a></li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-user-circle"></i>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="padding: 0;">
                                <li><a class="dropdown-item" style='border-right:1px solid gray'
                                        href="/users/login">Iniciar sesión</a></li>
                                <li><a class="dropdown-item" href="/users/register">Registrate</a></li>
                            </ul>
                        </li>
                    </ul>
                    <% } %>
        </nav>
    </section>
    <section>
        <nav class="nav-principal">
            <div class="nav-principal-div">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            HOMBRE
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class="categ">
                                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#"><a class="dropdown-item"
                                                    href="#">Indumentaria</a></a></li>
                                        <li class="breadcrumb-item active" aria-current="page">
                                            <ul>
                                                <li><a class="categorias" href="">Buzos</a></li>
                                                <li><a class="categorias" href="">Camperas</a></li>
                                                <li><a class="categorias" href="">Pantalones</a></li>
                                                <li><a class="categorias" href="">Remeras</a></li>
                                            </ul>
                                        </li>
                                    </ol>
                                </nav>
                            </li>
                            <li class="categ">
                                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#"><a class="dropdown-item"
                                                    href="#">Calzado</a></a></li>
                                        <li class="breadcrumb-item active" aria-current="page">
                                            <ul>
                                                <li><a class="categorias" href="">Zapatillas</a></li>
                                                <li><a class="categorias" href="">Borcegos</a></li>
                                            </ul>
                                        </li>
                                    </ol>
                                </nav>
                            </li>
                            <li class="categ">
                                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#"><a class="dropdown-item"
                                                    href="#">Accesorios</a></a></li>
                                        <li class="breadcrumb-item active" aria-current="page">
                                            <ul>
                                                <li><a class="categorias" href="">Barbijos</a></li>
                                                <li><a class="categorias" href="">Bolsos</a></li>
                                                <li><a class="categorias" href="">gorras</a></li>
                                                <li><a class="categorias" href="">Mochilas</a></li>
                                                <li><a class="categorias" href="">Riñoneras</a></li>
                                            </ul>
                                        </li>
                                    </ol>
                                </nav>
                            </li>
                            <li><img class="envio-gratis" src="/img/products/envio-gratis.jpg" alt=""></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            MUJER
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class="categ">
                                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#"><a class="dropdown-item"
                                                    href="#">Indumentaria</a></a></li>
                                        <li class="breadcrumb-item active" aria-current="page">
                                            <ul>
                                                <li><a class="categorias" href="">Buzos</a></li>
                                                <li><a class="categorias" href="">Camperas</a></li>
                                                <li><a class="categorias" href="">Pantalones</a></li>
                                                <li><a class="categorias" href="">Remeras</a></li>
                                            </ul>
                                        </li>
                                    </ol>
                                </nav>
                            </li>
                            <li class="categ">
                                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#"><a class="dropdown-item"
                                                    href="#">Calzado</a></a></li>
                                        <li class="breadcrumb-item active" aria-current="page">
                                            <ul>
                                                <li><a class="categorias" href="">Zapatillas</a></li>
                                                <li><a class="categorias" href="">Borcegos</a></li>
                                                <li><a class="categorias" href="">Botas</a></li>
                                            </ul>
                                        </li>
                                    </ol>
                                </nav>
                            </li>
                            <li class="categ">
                                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#"><a class="dropdown-item"
                                                    href="#">Accesorios</a></a></li>
                                        <li class="breadcrumb-item active" aria-current="page">
                                            <ul>
                                                <li><a class="categorias" href="">Barbijos</a></li>
                                                <li><a class="categorias" href="">Bolsos</a></li>
                                                <li><a class="categorias" href="">gorras</a></li>
                                                <li><a class="categorias" href="">Mochilas</a></li>
                                                <li><a class="categorias" href="">Riñoneras</a></li>
                                            </ul>
                                        </li>
                                    </ol>
                                </nav>
                            </li>
                            <li><img class="envio-gratis" src="/img/products/envio-gratis.jpg" alt=""></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            SALE!
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" style='border-right:1px solid gray' href="#">20% Off</a></li>
                            <li><a class="dropdown-item" style='border-right:1px solid gray' href="#">40% Off</a></li>
                            <li><a class="dropdown-item" href="#">60% Off</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button">
                            Locales
                        </a>
                    </li>
                    <li class="">
                        <a class="nav-link dropdown-toggle" href="/vistas/cambios" id="navbarDropdown" role="button">
                            Cambios
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/vistas/preguntas" id="navbarDropdown" role="button">
                            Ayuda
                        </a>
                    </li>
                    <% if (locals.userLogin && locals.userLogin.rol==='admin' ) { %>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Editar
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" style='border-right:1px solid gray' href="/products">Todos
                                        los productos</a></li>
                                <li><a class="dropdown-item" href="/products/createProduct">Crear producto</a></li>
                            </ul>
                        </li>
                        <% } %>
                </ul>
            </div>
        </nav>
    </section>
</header>