<!DOCTYPE html>
<!-- Header -->
    <%-include('./partials/head')%>
<!-- Header -->
<body>
    <!-- Header -->
        <%-include('./partials/header')%>
    <!-- Header -->
    







    <!-- Footer -->
        <%- include('./partials/footer')%>
    <!-- Footer -->
    <!-- Scripts -->
        <%-include('./partials/scripts')%>    
    <!-- Scripts -->
</body>
</html>