<!DOCTYPE html>
<html lang="es">

<!--Esto es el Head-->
    <%- include('./partials/head') %>
    <head><title>Detalle de tu producto</title></head>
<!--Esto es el Head-->

<body class="general">

    <!--Esto es el header-->
        <%-include('./partials/header')%>
    <!--Esto es el header-->

    <main class="detail-box">
        <div class="view">
            <aside class="view-2">
                <img src="./img/buzo-azul-front.webp" alt="">
                <img src="./img/buzo-azul-side.webp" alt="">
                <img src="./img/buzo-azulback.webp" alt="">
            </aside>
            <div class="view-1">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="./img/conjunto-verde.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="./img/pantalon-marron.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="./img/camiseta-angora.jpg" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
        </div>
        <div class="margen">
            <div class="aside-box">
                <form action="" method="">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                          <li class="breadcrumb-item"><a href="#">Categoría</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Producto</li>
                        </ol>
                    </nav>
                    <section>
                        <div class="product__details">
                            <p class="product_details__name">[Nombre del producto]</p>
                            <span class="product__details_money">$999.999</span>
                            <div>
                                <select name="colors" class="product__details_color">
                                    <option value="" hidden selected>Color</option>
                                    <option value="red">Rojo</option>
                                    <option value="blue">Azul</option>
                                    <option value="green">Verde</option>
                                </select>
                            </div>
                        </div>
                        <div class="cuotas__totaldiv">
                            <div class="cuotas__minidiv">
                                <i class="far fa-credit-card"></i>
                                <span>XX cuotas de $99.999</span> 
                            </div>
                            <div class="cuotas__minidiv">
                                <i class="fas fa-dollar-sign"></i>
                                <span>XX% de descuento pagando a convenir.</span> 
                            </div>
                            <span class="cuotas__span"><a href="">Ver más detalles</a></span>
                        </div>
                    </section>
                    <section class="talle__div">
                        <span class="talle__div__titular">Talles disponibles</span>
                        <select name="size" class="talle__div__size">
                            <option value="s">S</option>
                            <option value="m">M</option>
                            <option value="l">L</option>
                            <option value="xl">XL</option>
                            <option value="xxl">XXL</option>
                        </select>
                        <article class="talle__div__cantidad-box">
                            <select name="cantidad" class="talle__div__cantidad">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="morethan"> más de 6 unidades</option>
                            </select>
                            <button type="button" class="btn btn-dark">Agregar al carrito</button>
                        </article>
                    </section>
                    <div class="discount__box">
                        <div class="discount__box__icon">
                            <i class="fas fa-percentage"></i>
                        </div>
                        <div class="discount__box__lema">
                            <h3>DESCUENTO</h3>
                            <p><b>10% OFF DE DESCUENTO</b> pagando en efectivo.</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
        <div class="padding-box">
            <form action="">
                <div class="contenedor__filter">
                    <p>XXX comentarios</p>
                    <div class="contenedor__filter__div">
                        <select name="" class="contenedor__filter__select">
                            <option value="seleccion" hidden selected>Ordenar por...</option>
                            <option value="popular">Más popular</option>
                            <option value="recent">Más reciente</option>
                            <option value="oldest">Más antiguo</option>
                        </select>
                    </div>
                </div>
                <div class="comment-box bottom">
                    <div class="text-area-box">
                        <div class="profile-icon">
                            <i class="fas fa-user-circle"></i>
                        </div>
                        <textarea name="" id="" cols="40" rows="5" placeholder="Comentá sobre este producto">
                        </textarea>
                    </div>
                    <div class="submit">
                        <button> <input type="submit" hidden>¡Enviar!</button>
                    </div>
                </div>
            </form>
            <div class="h2-box">
                <h2>Productos relacionados</h2>
            </div>
            <div class="recommended">
                <div class="recommended__1 card mb-3" style="max-width: 320px;">
                    <div class="row g-0">
                      <div class="col-sm-4">
                        <img src="./img/Mochila_Power_5.jpg" class="img-fluid rounded-start" alt="..." >
                      </div>
                      <div class="col-sm-8">
                        <div class="card-body">
                          <h5 class="card-title">Nombre de producto</h5>
                          <span>$99.999</span>
                          <i class="far fa-heart"></i>
                          <p class="card-text">¡Envío Gratis!</p>
                          <p class="card-text"><small class="text-muted">Ult. vez agregado hace 2 meses</small></p>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="recommended__2 card mb-3" style="max-width: 320px;">
                    <div class="row g-0">
                      <div class="col-sm-4">
                        <img src="./img/Mochila_Power_5.jpg" class="img-fluid rounded-start" alt="..." >
                      </div>
                      <div class="col-sm-8">
                        <div class="card-body">
                          <h5 class="card-title">Nombre de producto</h5>
                          <span>$99.999</span>
                          <i class="far fa-heart"></i>
                          <p class="card-text">¡Envío Gratis!</p>
                          <p class="card-text"><small class="text-muted">Ult. vez agregado hace 2 meses</small></p>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="recommended__3 mb-3" style="max-width: 320px;">
                    <div class="row g-0">
                      <div class="col-sm-4">
                        <img src="./img/Mochila_Power_5.jpg" class="img-fluid rounded-start" alt="..." >
                      </div>
                      <div class="col-sm-8">
                        <div class="card-body">
                          <h5 class="card-title">Nombre de producto</h5>
                          <span>$99.999</span>
                          <i class="far fa-heart"></i>
                          <p class="card-text">¡Envío Gratis!</p>
                          <p class="card-text"><small class="text-muted">Ult. vez agregado hace 2 meses</small></p>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Scripts & Footer-->
        <%- include('./partials/scripts') %> 
    <%- include('./partials/footer') %> 
<!--Scripts & Footer-->
</body>
</html>