<!DOCTYPE html>
<html lang="es">
<!--Esto es el Head-->
    <%- include('./partials/head') %>
<!--Esto es el Head-->
<body class="login">
    <!--Esto es el header-->
        <%-include('./partials/header')%>
    <!--Esto es el header-->
    <main class="login-main">
        <form action="" method="">
            <section class="tengo-cuenta">
                <h3>ya tengo cuenta</h3>
                    <div class="tengo-cuenta__div">
                        <label for="email">Email:</label>
                        <input class="cien" type="email" id="email" name="email" required>
                    </div>
                    <div class="tengo-cuenta__div">
                        <label for="contraseña">Contraseña</label>
                        <input class="cien" type="password" id="contraseña" name="password" required>
                    </div>
                    <div class="remember">
                        <input type="checkbox" name="remember">
                        <label for="remember">Recordarme</label>
                    </div>
                    <p class="forgot-me"><a href="" >¿Olvidaste tu contraseña?</a></p>
                    <button type="submit"><a href="/" class="white">ingresar</a></button>
            </section>
            <section class="ingresar">
                <article>
                    <p>Utilizar mi cuenta de Facebook</p>
                    <button>ingresar desde facebook</button>
                </article>
                <article>
                    <p>Utilizar mi cuenta de Google</p>
                    <button>ingresar desde google</button>
                </article>
                <article>
                    <p>Soy usuario nuevo</p>
                    <button class="craft" type="submit"><a href="/users/register" class="white">crear cuenta</a></button>
                </article>
            </section>
        </form>
    </main>
<!--Scripts & Footer-->
    <%- include('./partials/scripts') %> 
        <%- include('./partials/footer') %> 
<!--Scripts & Footer-->    
</body>
</html>