<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesion</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>
<body class="login">
    <header>
        <section class="header-sup">
            <div class="logo">
                <a href="/"><img src="/img/domino8.png" alt="Logo"></a>
            </div>
            <div class="buscador">
                <form action=""><input class="buscar" type="text" placeholder="¿Qué estás buscando?"><button
                        type="submit"><i class="fas fa-search"></i></button></form>
            </div>
            <nav class="burger-buscar">
                <ul class="nav1">
                    <li><a href=""><i class="fas fa-bars"></i></i></a></li>
                    <li><a href=""><i class="fas fa-search"></i></a></i></li>
                </ul>
            </nav>
            <nav>
                <ul class="nav2">
                    <li><a href="/login"><i class="fas fa-user-circle"></i></a></li>
                    <li><a href="/carrito"><i class="fas fa-shopping-cart"></i></a></i></li>
                    <li><a href="/favorito"><i class="fas fa-heart"></i></i></a></li>
                </ul>
            </nav>
        </section>

        <section>
            <nav>
                <ul class="nav-principal">
                    <li><a href="/hombre">HOMBRE</a></li>
                    <li><a href="/mujer">MUJER</a></li>
                    <li><a href="/saler">SALE!</a></li>
                    <li><a href="/originales">ORIGINALES</a></li>
                    <li><a href="/locales">Locales</a></li>
                    <li><a href="/cambios">Cambios</a></li>
                    <li><a href="/ayuda">Ayuda</a></li>
                </ul>
            </nav>
        </section>

    </header>
    <main class="login-main">
        <form action="" method="">
            <section class="tengo-cuenta">
                <h3>ya tengo cuenta</h3>
                    <div class="tengo-cuenta__div">
                        <label for="email">Email:</label>
                        <input class="cien" type="email" id="email" name="email" required>
                    </div>
                    <div class="tengo-cuenta__div">
                        <label for="contraseña">Contraseña</label>
                        <input class="cien" type="password" id="contraseña" name="password" required>
                    </div>
                    <div class="remember">
                        <input type="checkbox" name="remember">
                        <label for="remember">Recordarme</label>
                    </div>
                    <p class="forgot-me"><a href="" >¿Olvidaste tu contraseña?</a></p>
                    <button type="submit"><a href="/" class="white">ingresar</a></button>
            </section>
            <section class="ingresar">
                <article>
                    <p>Utilizar mi cuenta de Facebook</p>
                    <button type="submit">ingresar desde facebook</button>
                </article>
                <article>
                    <p>Utilizar mi cuenta de Google</p>
                    <button type="submit">ingresar desde google</button>
                </article>
                <article>
                    <p>Soy usuario nuevo</p>
                    <button class="craft" type="submit"><a href="/register" class="white">crear cuenta</a></button>
                </article>
            </section>
        </form>
    </main>
    <footer>
        <section>
            <div class="logo"><img class="domino" src="/img/domino8.png" alt="Logo" width="220"></div>
            <div class="info">
            <article>
                <ul>
                    <h4>Atención al cliente</h4>
                    <li><a href="">Contactanos</a></li>
                    <li><a href="">Preguntas frecuentes</a></li>
                    <li><a href="">Envios</a></li>
                    <li><a href="">¿Cómo comprar? </a></li>
                </ul>
            </article>
            <article>
                <ul>
                    <h4>Empresa</h4>
                    <li><a href="">¿Quiénes somos?</a></li>
                    <li><a href="">Nuestros locales</a></li>
                    <li><a href="">Terminos y condiciones</a></li>
                </ul>
            </article>
            <article>
                <ul>
                    <h4>Mi cuenta</h4>
                    <li><a href="">Registrarse</a></li>
                    <li><a href="">Iniciar sesión</a></li>
                    <li><a href="">Carrito</a></li>
                </ul>
            </article>
        </div>
        </section>
        <div class="redes">
            <p>Seguinos</p>
            <ul>
                <li><a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="https://instagram.com" target="_blank"><i class="fab fa-instagram-square"></i></i></a></li>
                <li><a href="https://twitter.com" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
            </ul>
    </footer>
</body>
</html>