<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Producto</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/281a37e06e.js" crossorigin="anonymous"></script>
</head>

<body class="general">
    <header>
        <section class="header-sup">
            <div class="logo">
                <a href="/"><img src="/img/domino8.png" alt="Logo"></a>
            </div>
            <div class="buscador">
                <form action=""><input class="buscar" type="text" placeholder="¿Qué estás buscando?"><button
                        type="submit"><i class="fas fa-search"></i></button></form>
            </div>
            <nav class="burger-buscar">
                <ul class="nav1">
                    <li><a href=""><i class="fas fa-bars"></i></i></a></li>
                    <li><a href=""><i class="fas fa-search"></i></a></i></li>
                </ul>
            </nav>
            <nav>
                <ul class="nav2">
                    <li><a href="/register"><i class="fas fa-user-circle"></i></a></li>
                    <li><a href="/carrito"><i class="fas fa-shopping-cart"></i></a></i></li>
                    <li><a href="/favorito"><i class="fas fa-heart"></i></i></a></li>
                </ul>
            </nav>

        </section>
        <section>
            <nav>
                <ul class="nav-principal">
                    <li><a href="/hombre">HOMBRE</a></li>
                    <li><a href="/mujer">MUJER</a></li>
                    <li><a href="/saler">SALE!</a></li>
                    <li><a href="/originales">ORIGINALES</a></li>
                    <li><a href="/locales">Locales</a></li>
                    <li><a href="/cambios">Cambios</a></li>
                    <li><a href="/ayuda">Ayuda</a></li>
                </ul>
            </nav>
        </section>
    </header>
    <main class="detail-box">
        <div class="view">
            <aside class="view-2">
                <img src="./img/buzo-azul-front.webp" alt="">
                <img src="./img/buzo-azul-side.webp" alt="">
                <img src="./img/buzo-azulback.webp" alt="">
            </aside>
            <div class="view-1">
                <img src="./img/buzo-azul-front.webp" alt="">
            </div>
        </div>
        <div class="numero-v">
            <span>1/3</span>
        </div>
        <div class="margen">
            <div class="aside-box">
                <nav class="seguimiento">
                    <ul>
                        <li><a href="/">Inicio ></a></li>
                        <li><a href="">Categorías ></a></li>
                        <li><a href="">[Nombre del Producto]</a></li>
                    </ul>
                </nav>
                <form action="">
                    <select name="colors" id="" class="color">
                        <option value="" hidden selected>Color</option>
                        <option value="red">Rojo</option>
                        <option value="blue">Azul</option>
                        <option value="green">Verde</option>
                    </select>
                </form>
                <section>
                    <div class="product-details">
                        <p class="name">[Nombre del producto]</p>
                        <span>$999.999</span>
                    </div>
                    <div class="cuotas">
                        <div>
                            <i class="far fa-credit-card"></i>
                            <span>XX cuotas de $99.999</span> 
                        </div>
                        <div>
                            <i class="fas fa-dollar-sign"></i>
                            <span>XX% de descuento pagando a convenir.</span> 
                        </div>
                        <span><a href="">Ver más detalles</a></span>
                    </div>
                </section>
                <div class="talle">
                    <span>Talles</span>
                    <form action="">
                        <select name="size" method="" class="size">
                            <option value="s">S</option>
                            <option value="m">M</option>
                            <option value="l">L</option>
                            <option value="xl">XL</option>
                            <option value="xxl">XXL</option>
                            </select>
                    </form>
                    <div class="form-2">
                        <form action="">
                            <select name="" class="cantidad">
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                                <option value="">4</option>
                                <option value="">5</option>
                                <option value="">6</option>
                                <option value="">7</option>
                                <option value="">8</option>
                                <option value="">9</option>
                                <option value="">10</option>
                            </select>
                        </form>
                        <form action="" class="form-3">
                            <button class="boton">
                                <a href="carrito.html">agregar al carrito</a>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="discount-box">
                    <div class="icondiv">
                        <i class="fas fa-tags"></i>
                    </div>
                    <div class="discount">
                        <h3>DESCUENTO</h3>
                        <p><b>10% OFF DE DESCUENTO</b> pagando en efectivo.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
        <div class="padding-box">
            <div class="filter">
                <p>XXX comentarios</p>
                <label for=""> Ordernar por
                    <select name="">
                        <option value="filter" hidden selected>Filtrar</option>
                        <option value="popular">Más popular</option>
                        <option value="recent">Más reciente</option>
                        <option value="oldest">Más antiguo</option>
                    </select>
                </label>
            </div>
            <div class="comment-box">
                <div class="text-area-box">
                    <div class="profile-icon">
                        <i class="fas fa-user-circle"></i>
                    </div>
                    <textarea name="" id="" cols="40" rows="5" placeholder="Comentá sobre este producto">
                    </textarea>
                </div>
                <div class="submit">
                    <button> <input type="submit" hidden>¡Enviar!</button>
                </div>
            </div>
            <div class="h2-box">
                <h2>Productos relacionados</h2>
            </div>
            <div class="recommended">
                <div class="div-box-3">
                    <div class="img-product">
                        <img src="./img/buzo-negro.webp" alt="">
                    </div>
                    <div class="div-box-details">
                        <p>Nombre del Producto</p>
                        <span>$99.999</span>
                        <span>[COLOR]</span>
                        <i class="far fa-heart"></i>
                        <p>¡Envío gratis!</p>
                    </div>
                </div>
                <div class="div-box-4">
                    <div class="img-product">
                        <img src="./img/zapatilla-2.webp" alt="">
                    </div>
                    <div class="div-box-details">
                        <p>Nombre del Producto</p>
                        <span>$99.999</span>
                        <span>[COLOR]</span>
                        <i class="far fa-heart"></i>
                        <p>¡Envío gratis!</p>
                    </div>
                </div>
                <div class="div-box-5">
                    <div class="img-product">
                        <img src="./img/zapatilla-3.webp" alt="">
                    </div>
                    <div class="div-box-details">
                        <p>Nombre del Producto</p>
                        <span>$99.999</span>
                        <span>[COLOR]</span>
                        <i class="far fa-heart"></i>
                        <p>¡Envío gratis!</p>
                    </div>
                </div>
            </div>
        </div>
    <footer>
        <section>
            <div class="logo"><img class="domino" src="/img/domino8.png" alt="Logo" width="220"></div>
            <div class="info">
            <article>
                <ul>
                    <h4>Atención al cliente</h4>
                    <li><a href="">Contactanos</a></li>
                    <li><a href="">Preguntas frecuentes</a></li>
                    <li><a href="">Envios</a></li>
                    <li><a href="">¿Cómo comprar? </a></li>
                </ul>
            </article>
            <article>
                <ul>
                    <h4>Empresa</h4>
                    <li><a href="">¿Quiénes somos?</a></li>
                    <li><a href="">Nuestros locales</a></li>
                    <li><a href="">Terminos y condiciones</a></li>
                </ul>
            </article>
            <article>
                <ul>
                    <h4>Mi cuenta</h4>
                    <li><a href="">Registrarse</a></li>
                    <li><a href="">Iniciar sesión</a></li>
                    <li><a href="">Carrito</a></li>
                </ul>
            </article>
        </div>
        </section>
        <div class="redes">
            <p>Seguinos</p>
            <ul>
                <li><a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="https://instagram.com" target="_blank"><i class="fab fa-instagram-square"></i></i></a></li>
                <li><a href="https://twitter.com" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
            </ul>
    </footer>
</body>
</html>