<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/281a37e06e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="home">

    <header>
        <section class="header-sup">
            <div class="logo">
                <a href="/"><img src="/img/domino8.png" alt="Logo"></a>
            </div>
            <div class="buscador">
                <form action=""><input class="buscar" type="text" placeholder="¿Qué estás buscando?"><button
                        type="submit"><i class="fas fa-search"></i></button></form>
            </div>
            <nav class="burger-buscar">
                <ul class="nav1">
                    <li><a href=""><i class="fas fa-bars"></i></a></li>
                    <li><a href=""><i class="fas fa-search"></i></a></li>
                </ul>
            </nav>
            <nav>
                <ul class="nav2">
                    <li><a href="/iniciar"><i class="fas fa-user-circle"></i></a></li>
                    <li><a href="/carrito"><i class="fas fa-shopping-cart"></i></a></li>
                    <li><a href="/favorito"><i class="fas fa-heart"></i></a></li>
                </ul>
            </nav>

        </section>
        <section>
            <nav>
                <ul class="nav-principal">
                    <li><a href="/hombre">HOMBRE</a></li>
                    <li><a href="/mujer">MUJER</a></li>
                    <li><a href="/saler">SALE!</a></li>
                    <li><a href="/originales">ORIGINALES</a></li>
                    <li><a href="/locales">Locales</a></li>
                    <li><a href="/cambios">Cambios</a></li>
                    <li><a href="/ayuda">Ayuda</a></li>
                </ul>
            </nav>
        </section>
    </header>

    <main>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/img/1.jpg" class="imagen1" alt="imagen1"><img class="imagen2" src="/img/2.jpg"
                        alt="imagen2">
                </div>
                <div class="carousel-item">
                    <img src="/img/circulo-a.jpg" class="imagen1" alt="circulo"><img src="/img/3.jpg" class="imagen2"
                        alt="circulo">
                </div>
                <div class="carousel-item">
                    <img src="/img/super-sale.jpg" class="imagen1" alt="humo-azul"><img src="/img/super-sale2.jpg"
                        class="imagen2" alt="humo-azul">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div class="container-fluid">
            <div class="primero">
                <section>
                    <article>
                        <img src="/img/chaleco-negro.jpg" alt="chaleco-negro">
                        <div class="datos">
                            <div class="caja1">
                                <h4>Chaleco Row</h4>
                                <p>$5.600</p>
                            </div>
                            <div class="caja2">
                                <div>
                                    <div class="color-circle" style="background-color:#000000;"></div>
                                    <div class="color-circle" style="background-color:#9c9c93;"></div>
                                    <div class="color-circle" style="background-color:#fdfffd;"></div>
                                </div>
                                <div class="heart"><i class="far fa-heart"></i></div>
                            </div>
                            <span>¡Envio Gratis!</span>
                        </div>
                    </article>
                    <article>
                        <img src="/img/conjunto-negro-mujer.png" alt="conjunto-negro-mujer.png">
                        <div class="datos">
                            <div class="caja1">
                                <h4>Conjunto Switch</h4>
                                <p>$8.900</p>
                            </div>
                            <div class="caja2">
                                <div>
                                    <div class="color-circle" style="background-color:#656666;"></div>
                                    <div class="color-circle" style="background-color:#0c0c0c;"></div>
                                    <div class="color-circle" style="background-color:#641717;"></div>
                                </div>
                                <div class="heart"><i class="far fa-heart"></i></div>
                            </div>
                            <span>¡Envio Gratis!</span>
                        </div>
                    </article>
                    <article>
                        <img src="/img/camiseta-negra-mujer.jpg" alt="camiseta-negra-mujer">
                        <div class="datos">
                            <div class="caja1">
                                <h4>Camiseta size</h4>
                                <p>$1.800</p>
                            </div>
                            <div class="caja2">
                                <div>
                                    <div class="color-circle" style="background-color:#000000;"></div>
                                    <div class="color-circle" style="background-color:#fcf9fb;"></div>
                                    <div class="color-circle" style="background-color:#a33724;"></div>
                                </div>
                                <div class="heart"><i class="far fa-heart"></i></div>
                            </div>
                            <span>¡Envio Gratis!</span>
                        </div>
                    </article>
                </section>
                <div class="homb-salta">
                    <img class="hombre-salta1" src="/img/hombre-salta.jpg" alt="hombre-salta">
                    <img class="hombre-salta2" src="/img/hombre-salta2.jpg" alt="hombre-salta2">
                </div>
            </div>

            <div class="segundo">
                <section class="seleccion">
                    <img class="escalera" src="/img/escalera1.jpg" alt="escalera">
                    <div class="carrusel-seleccionado">
                        <div>
                            <p>Seleccionado para vos</p>
                            <hr class="seleccionados">
                        </div>
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <section class="articulos">
                                        <article>
                                            <img src="/img/Mochila_Power_5.jpg" alt="buzo-amarillo-hombre">
                                            <div class="datos">
                                                <div class="caja1">
                                                    <h4>Mochila Power</h4>
                                                    <p>$5.500</p>
                                                </div>
                                                <div class="caja2">
                                                    <div>
                                                        <div class="color-circle" style="background-color:#000000;">
                                                        </div>
                                                        <div class="color-circle" style="background-color:#494a50;">
                                                        </div>
                                                        <div class="color-circle" style="background-color:#13173d;">
                                                        </div>
                                                    </div>
                                                    <div class="heart"><i class="far fa-heart"></i></div>
                                                </div>
                                                <span>¡Envio Gratis!</span>
                                            </div>
                                        </article>
                                        <article class="art2">
                                            <img src="/img/zapas.jpg" alt="buzo-amarillo-hombre">
                                            <div class="datos">
                                                <div class="caja1">
                                                    <h4>Zapatillas Nike</h4>
                                                    <p>$14.900</p>
                                                </div>
                                                <div class="caja2">
                                                    <div>
                                                        <div class="color-circle" style="background-color:#fafcfc;">
                                                        </div>
                                                        <div class="color-circle" style="background-color:#070707;">
                                                        </div>
                                                        <div class="color-circle" style="background-color:#81747f;">
                                                        </div>
                                                    </div>
                                                    <div class="heart"><i class="far fa-heart"></i></div>
                                                </div>
                                                <span>¡Envio Gratis!</span>
                                            </div>
                                        </article>
                                        <article class="art3">
                                            <img src="/img/Rinonera_Negro.jpg" alt="buzo-amarillo-hombre">
                                            <div class="datos">
                                                <div class="caja1">
                                                    <h4>Riñonera Adidas</h4>
                                                    <p>$3.200</p>
                                                </div>
                                                <div class="caja2">
                                                    <div>
                                                        <div class="color-circle" style="background-color:#000000;">
                                                        </div>
                                                        <div class="color-circle" style="background-color:#fcf9fb;">
                                                        </div>
                                                        <div class="color-circle" style="background-color:#611f50;">
                                                        </div>
                                                    </div>
                                                    <div class="heart"><i class="far fa-heart"></i></div>
                                                </div>
                                                <span>¡Envio Gratis!</span>
                                            </div>
                                        </article>
                                        <article class="art5">
                                            <img src="/img/mochila-negra-unix.jpg" alt="mochila-negra-unix">
                                            <div class="datos">
                                                <div class="caja1">
                                                    <h4>Mochila Unix</h4>
                                                    <p>$5.200</p>
                                                </div>
                                                <div class="caja2">
                                                    <div>
                                                        <div class="color-circle" style="background-color:#000000;">
                                                        </div>
                                                        <div class="color-circle" style="background-color:#3d1902;">
                                                        </div>
                                                        <div class="color-circle" style="background-color:#3b380e;">
                                                        </div>
                                                    </div>
                                                    <div class="heart"><i class="far fa-heart"></i></div>
                                                </div>
                                                <span>¡Envio Gratis!</span>
                                            </div>
                                        </article>
                                    </section>
                                </div>
                                <div class="carousel-item">
                                    <section class="articulos">
                                        <article>
                                            <img src="/img/bolso-active-reebok.jpg" alt="bolso-active-reebok">
                                            <div class="datos">
                                                <div class="caja1">
                                                    <h4>Bolso Active</h4>
                                                    <p>$4.500</p>
                                                </div>
                                                <div class="caja2">
                                                    <div>
                                                        <div class="color-circle" style="background-color:#000000;">
                                                        </div>
                                                        <div class="color-circle" style="background-color:#494a50;">
                                                        </div>
                                                        <div class="color-circle" style="background-color:#13173d;">
                                                        </div>
                                                    </div>
                                                    <div class="heart"><i class="far fa-heart"></i></div>
                                                </div>
                                                <span>¡Envio Gratis!</span>
                                            </div>
                                        </article>
                                        <article class="art2">
                                            <img src="/img/gorra-adidas.jpg" alt="gorra-blanca-adidas">
                                            <div class="datos">
                                                <div class="caja1">
                                                    <h4>Gorra Adidas</h4>
                                                    <p>$2.800</p>
                                                </div>
                                                <div class="caja2">
                                                    <div>
                                                        <div class="color-circle" style="background-color:#fafcfc;">
                                                        </div>
                                                        <div class="color-circle" style="background-color:#070707;">
                                                        </div>
                                                        <div class="color-circle" style="background-color:#550f24;">
                                                        </div>
                                                    </div>
                                                    <div class="heart"><i class="far fa-heart"></i></div>
                                                </div>
                                                <span>¡Envio Gratis!</span>
                                            </div>
                                        </article>
                                        <article class="art3">
                                            <img src="/img/barbijo-gris.jpg" alt="barbijo-stoper">
                                            <div class="datos">
                                                <div class="caja1">
                                                    <h4>Barbijo Stoper</h4>
                                                    <p>$1.200</p>
                                                </div>
                                                <div class="caja2">
                                                    <div>
                                                        <div class="color-circle" style="background-color:#000000;">
                                                        </div>
                                                        <div class="color-circle" style="background-color:#24049b;">
                                                        </div>
                                                        <div class="color-circle" style="background-color:#838282;">
                                                        </div>
                                                    </div>
                                                    <div class="heart"><i class="far fa-heart"></i></div>
                                                </div>
                                                <span>¡Envio Gratis!</span>
                                            </div>
                                        </article>
                                        <article class="art5">
                                            <img src="/img/zapatillas-galaxy-adidas.jpg" alt="zapatillas-galaxy-adidas">
                                            <div class="datos">
                                                <div class="caja1">
                                                    <h4>Zapatillas Galaxy</h4>
                                                    <p>$10.200</p>
                                                </div>
                                                <div class="caja2">
                                                    <div>
                                                        <div class="color-circle" style="background-color:#000000;">
                                                        </div>
                                                        <div class="color-circle" style="background-color:#1f1553;">
                                                        </div>
                                                        <div class="color-circle" style="background-color:#524d50;">
                                                        </div>
                                                    </div>
                                                    <div class="heart"><i class="far fa-heart"></i></div>
                                                </div>
                                                <span>¡Envio Gratis!</span>
                                            </div>
                                        </article>
                                    </section>
                                </div>
                                <div class="carousel-item">
                                    <section class="articulos">
                                        <article>
                                            <img src="/img/zapatillas-azul.jpg" alt="zapatilla-azul">
                                            <div class="datos">
                                                <div class="caja1">
                                                    <h4>Zapatilla True</h4>
                                                    <p>$7.500</p>
                                                </div>
                                                <div class="caja2">
                                                    <div>
                                                        <div class="color-circle" style="background-color:#fdfcfc;">
                                                        </div>
                                                        <div class="color-circle" style="background-color:#494a50;">
                                                        </div>
                                                        <div class="color-circle" style="background-color:#0a0a0a;">
                                                        </div>
                                                    </div>
                                                    <div class="heart"><i class="far fa-heart"></i></div>
                                                </div>
                                                <span>¡Envio Gratis!</span>
                                            </div>
                                        </article>
                                        <article class="art2">
                                            <img src="/img/mochila-gris-nike.jpg" alt="mochila-gris-nike">
                                            <div class="datos">
                                                <div class="caja1">
                                                    <h4>Mochila One</h4>
                                                    <p>$5.900</p>
                                                </div>
                                                <div class="caja2">
                                                    <div>
                                                        <div class="color-circle" style="background-color:#fafcfc;">
                                                        </div>
                                                        <div class="color-circle" style="background-color:#070707;">
                                                        </div>
                                                        <div class="color-circle" style="background-color:#9ea371;">
                                                        </div>
                                                    </div>
                                                    <div class="heart"><i class="far fa-heart"></i></div>
                                                </div>
                                                <span>¡Envio Gratis!</span>
                                            </div>
                                        </article>
                                        <article class="art3">
                                            <img src="/img/bolso_cruzado_adicolor.jpg" alt="bolso_cruzado_adicolor">
                                            <div class="datos">
                                                <div class="caja1">
                                                    <h4>Bolso Adicolor</h4>
                                                    <p>$4.800</p>
                                                </div>
                                                <div class="caja2">
                                                    <div>
                                                        <div class="color-circle" style="background-color:#000000;">
                                                        </div>
                                                        <div class="color-circle" style="background-color:#0a0b55;">
                                                        </div>
                                                        <div class="color-circle" style="background-color:#8a0f0f;">
                                                        </div>
                                                    </div>
                                                    <div class="heart"><i class="far fa-heart"></i></div>
                                                </div>
                                                <span>¡Envio Gratis!</span>
                                            </div>
                                        </article>
                                        <article class="art5">
                                            <img src="/img/mochila-doughnut.jpg" alt="mochila-doughnut">
                                            <div class="datos">
                                                <div class="caja1">
                                                    <h4>Mochila Mou</h4>
                                                    <p>$4.800</p>
                                                </div>
                                                <div class="caja2">
                                                    <div>
                                                        <div class="color-circle" style="background-color:#000000;">
                                                        </div>
                                                        <div class="color-circle" style="background-color:#fcf9fb;">
                                                        </div>
                                                        <div class="color-circle" style="background-color:#753f68;">
                                                        </div>
                                                    </div>
                                                    <div class="heart"><i class="far fa-heart"></i></div>
                                                </div>
                                                <span>¡Envio Gratis!</span>
                                            </div>
                                        </article>
                                    </section>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="carrusel-destacado">
                        <div>
                            <p>Productos destacados</p>
                            <hr class="destacados">
                        </div>
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <section class="articulos">
                                        <article>
                                            <img src="/img/campera-negre-michigan.jpg" alt="campera-negre-michigan">
                                            <div class="datos">
                                                <div class="caja1">
                                                    <h4>Campera Michigan</h4>
                                                    <p>$7.200</p>
                                                </div>
                                                <div class="caja2">
                                                    <div>
                                                        <div class="color-circle" style="background-color:#000000;">
                                                        </div>
                                                        <div class="color-circle" style="background-color:#757274;">
                                                        </div>
                                                        <div class="color-circle" style="background-color:#0c0849;">
                                                        </div>
                                                    </div>
                                                    <div class="heart"><i class="far fa-heart"></i></div>
                                                </div>
                                                <span>¡Envio Gratis!</span>
                                            </div>
                                        </article>
                                        <article class="art2">
                                            <img src="/img/palazzo-frizado.jpg" alt="palazzo-frizado">
                                            <div class="datos">
                                                <div class="caja1">
                                                    <h4>Palazzo Frizado</h4>
                                                    <p>$4.800</p>
                                                </div>
                                                <div class="caja2">
                                                    <div>
                                                        <div class="color-circle" style="background-color:#000000;">
                                                        </div>
                                                        <div class="color-circle" style="background-color:#cf7fb7;">
                                                        </div>
                                                        <div class="color-circle" style="background-color:#a1a1a1;">
                                                        </div>
                                                    </div>
                                                    <div class="heart"><i class="far fa-heart"></i></div>
                                                </div>
                                                <span>¡Envio Gratis!</span>
                                            </div>
                                        </article>
                                        <article class="art3">
                                            <img src="/img/pantalon-jogger-tamesis.jpg"
                                                alt="pantalon-jogger-tamesis.jpg">
                                            <div class="datos">
                                                <div class="caja1">
                                                    <h4>Pantalón Tamesis</h4>
                                                    <p>$5.200</p>
                                                </div>
                                                <div class="caja2">
                                                    <div>
                                                        <div class="color-circle" style="background-color:#8d623a;">
                                                        </div>
                                                        <div class="color-circle" style="background-color:#305e66;">
                                                        </div>
                                                        <div class="color-circle" style="background-color:#ca9912;">
                                                        </div>
                                                    </div>
                                                    <div class="heart"><i class="far fa-heart"></i></div>
                                                </div>
                                                <span>¡Envio Gratis!</span>
                                            </div>
                                        </article>
                                        <article class="art4">
                                            <img src="/img/conjunto-verde.jpg" alt="conjunto-verde">
                                            <div class="datos">
                                                <div class="caja1">
                                                    <h4>Conjunto Slouchy</h4>
                                                    <p>$9.200</p>
                                                </div>
                                                <div class="caja2">
                                                    <div>
                                                        <div class="color-circle" style="background-color:#5a5c07;">
                                                        </div>
                                                        <div class="color-circle" style="background-color:#5c555a;">
                                                        </div>
                                                        <div class="color-circle" style="background-color:#6d5410;">
                                                        </div>
                                                    </div>
                                                    <div class="heart"><i class="far fa-heart"></i></div>
                                                </div>
                                                <span>¡Envio Gratis!</span>
                                            </div>
                                        </article>
                                    </section>
                                </div>
                                <div class="carousel-item">
                                    <section class="articulos">
                                        <article>
                                            <img src="/img/conjunto-gris-function.jpg" alt="conjunto-gris-function">
                                            <div class="datos">
                                                <div class="caja1">
                                                    <h4>Conjunto Function</h4>
                                                    <p>$8.400</p>
                                                </div>
                                                <div class="caja2">
                                                    <div>
                                                        <div class="color-circle" style="background-color:#000000;">
                                                        </div>
                                                        <div class="color-circle" style="background-color:#757274;">
                                                        </div>
                                                        <div class="color-circle" style="background-color:#861252;">
                                                        </div>
                                                    </div>
                                                    <div class="heart"><i class="far fa-heart"></i></div>
                                                </div>
                                                <span>¡Envio Gratis!</span>
                                            </div>
                                        </article>
                                        <article class="art2">
                                            <img src="/img/buzo-mont-blanc.jpg" alt="buzo-mont-blanc">
                                            <div class="datos">
                                                <div class="caja1">
                                                    <h4>Buzo Tisza</h4>
                                                    <p>$4.800</p>
                                                </div>
                                                <div class="caja2">
                                                    <div>
                                                        <div class="color-circle" style="background-color:#000000;">
                                                        </div>
                                                        <div class="color-circle" style="background-color:#fdfdfc;">
                                                        </div>
                                                        <div class="color-circle" style="background-color:#a1a1a1;">
                                                        </div>
                                                    </div>
                                                    <div class="heart"><i class="far fa-heart"></i></div>
                                                </div>
                                                <span>¡Envio Gratis!</span>
                                            </div>
                                        </article>
                                        <article class="art3">
                                            <img src="/img/conjunto-marron.jpg" alt="conjunto-marron.jpg">
                                            <div class="datos">
                                                <div class="caja1">
                                                    <h4>Conjunto Else</h4>
                                                    <p>$7.600</p>
                                                </div>
                                                <div class="caja2">
                                                    <div>
                                                        <div class="color-circle" style="background-color:#af6464;">
                                                        </div>
                                                        <div class="color-circle" style="background-color:#5c555a;">
                                                        </div>
                                                        <div class="color-circle" style="background-color:#c2b969;">
                                                        </div>
                                                    </div>
                                                    <div class="heart"><i class="far fa-heart"></i></div>
                                                </div>
                                                <span>¡Envio Gratis!</span>
                                            </div>
                                        </article>
                                        <article class="art4">
                                            <img src="/img/remera-blanca-hombre.jpg" alt="remera-blanca-hombre">
                                            <div class="datos">
                                                <div class="caja1">
                                                    <h4>Remera Saona</h4>
                                                    <p>$1.500</p>
                                                </div>
                                                <div class="caja2">
                                                    <div>
                                                        <div class="color-circle" style="background-color:#080808;">
                                                        </div>
                                                        <div class="color-circle" style="background-color:#5c555a;">
                                                        </div>
                                                        <div class="color-circle" style="background-color:#fdfdfc;">
                                                        </div>
                                                    </div>
                                                    <div class="heart"><i class="far fa-heart"></i></div>
                                                </div>
                                                <span>¡Envio Gratis!</span>
                                            </div>
                                        </article>
                                    </section>
                                </div>
                                <div class="carousel-item">
                                    <section class="articulos">
                                        <article>
                                            <img src="/img/sweater-holme.jpg" alt="sweater-holme">
                                            <div class="datos">
                                                <div class="caja1">
                                                    <h4>Sweater Holme</h4>
                                                    <p>$5.200</p>
                                                </div>
                                                <div class="caja2">
                                                    <div>
                                                        <div class="color-circle" style="background-color:#632e2e;">
                                                        </div>
                                                        <div class="color-circle" style="background-color:#494a50;">
                                                        </div>
                                                        <div class="color-circle" style="background-color:#0a0a0a;">
                                                        </div>
                                                    </div>
                                                    <div class="heart"><i class="far fa-heart"></i></div>
                                                </div>
                                                <span>¡Envio Gratis!</span>
                                            </div>
                                        </article>
                                        <article class="art2">
                                            <img src="/img/pantalon-marron.jpg" alt="pantalon-marron">
                                            <div class="datos">
                                                <div class="caja1">
                                                    <h4>Pantalón Let</h4>
                                                    <p>$5.800</p>
                                                </div>
                                                <div class="caja2">
                                                    <div>
                                                        <div class="color-circle" style="background-color:#fafcfc;">
                                                        </div>
                                                        <div class="color-circle" style="background-color:#070707;">
                                                        </div>
                                                        <div class="color-circle" style="background-color:#a82f11;">
                                                        </div>
                                                    </div>
                                                    <div class="heart"><i class="far fa-heart"></i></div>
                                                </div>
                                                <span>¡Envio Gratis!</span>
                                            </div>
                                        </article>
                                        <article class="art3">
                                            <img src="/img/remera-gris.jpg" alt="remera-gris">
                                            <div class="datos">
                                                <div class="caja1">
                                                    <h4>Remera Arrow</h4>
                                                    <p>$1.800</p>
                                                </div>
                                                <div class="caja2">
                                                    <div>
                                                        <div class="color-circle" style="background-color:#000000;">
                                                        </div>
                                                        <div class="color-circle" style="background-color:#fcf9fb;">
                                                        </div>
                                                        <div class="color-circle" style="background-color:#6e686d;">
                                                        </div>
                                                    </div>
                                                    <div class="heart"><i class="far fa-heart"></i></div>
                                                </div>
                                                <span>¡Envio Gratis!</span>
                                            </div>
                                        </article>
                                        <article class="art4">
                                            <img src="/img/camiseta-angora.jpg" alt="camiseta-angora">
                                            <div class="datos">
                                                <div class="caja1">
                                                    <h4>Camiseta Angora</h4>
                                                    <p>$2.800</p>
                                                </div>
                                                <div class="caja2">
                                                    <div>
                                                        <div class="color-circle" style="background-color:#adbd66;">
                                                        </div>
                                                        <div class="color-circle" style="background-color:#fcf9fb;">
                                                        </div>
                                                        <div class="color-circle" style="background-color:#b38aac;">
                                                        </div>
                                                    </div>
                                                    <div class="heart"><i class="far fa-heart"></i></div>
                                                </div>
                                                <span>¡Envio Gratis!</span>
                                            </div>
                                        </article>
                                    </section>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </section>

                </section>
                <section class="ofertas">
                    <div class="imagenes">
                        <img src="/img/oferta1.jpg" alt="">
                        <img src="/img/oferta4.jpg" alt="">
                        <img src="/img/oferta3.jpg" alt="">
                        <img src="/img/oferta2.jpg" alt="">
                    </div>
                </section>
            </div>
        </div>

        <div class="tercero">
            <section>
                <img class="tienda1" src="/img/tienda.jpg" alt="tienda1">
                <img class="tienda2" src="/img/tienda2.jpg" alt="tienda2">
                <div class="tiendas">
                    <div>
                        <h3>nuestros locales</h3>
                        <p>visitanos en nuestros locales con todos los <br> protocolos de seguridad necesarios para vos
                        </p>
                        <button type="button" class="btn btn-secondary btn-sm mx-auto">VER LOCALES</button>
                    </div>
                </div>
                <div class="container">
                    <div class="newsl">
                        <div>
                            <h3>newsletter</h3>
                            <p>suscribite y enterate de las <br> novedades</p>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Ingresá tu email"
                                    aria-label="Ingresá tu email" aria-describedby="button-addon2">
                                <button class="btn btn-outline-secondary" type="button"
                                    id="button-addon2">SUBSCRIBITE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>

    <footer>
        <section>
            <div class="logo"><a href="/"><img src="/img/domino8.png" alt="Logo"></a></div>
            <div class="info">
                <article>
                    <ul>
                        <li>
                            <h4>Atención al cliente</h4>
                        </li>
                        <li><a href="">Contactanos</a></li>
                        <li><a href="">Preguntas frecuentes</a></li>
                        <li><a href="">Envios</a></li>
                        <li><a href="">¿Cómo comprar? </a></li>
                    </ul>
                </article>
                <article>
                    <ul>
                        <li>
                            <h4>Empresa</h4>
                        </li>
                        <li><a href="">¿Quiénes somo?</a></li>
                        <li><a href="">Nuestros locales</a></li>
                        <li><a href="">Terminos y condiciones</a></li>
                    </ul>
                </article>
                <article>
                    <ul>
                        <li>
                            <h4>Mi cuenta</h4>
                        </li>
                        <li><a href="">Registrarse</a></li>
                        <li><a href="">Iniciar sesión</a></li>
                        <li><a href="">Carrito</a></li>
                    </ul>
                </article>
            </div>
        </section>
        <div class="redes">
            <p>Seguinos</p>
            <ul>
                <li><a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="https://instagram.com" target="_blank"><i class="fab fa-instagram-square"></i></a></li>
                <li><a href="https://twitter.com" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
            </ul>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>
