.register{
    font-family: 'Roboto', 'Open Sans';
    background-color: var(--blanco);
}
.register a{
    color: var(--gris);
}
/* datos personales */
.register .datos-personales{
    background-color: var(--blanco);
    border: 1px solid var(--negro);
    border-radius: 5px;
    padding: 20px;
    margin: 20px 10px;
}
.register .datos-personales h3{
    text-transform: uppercase;
    font-weight: normal;
}
.register .datos-personales .datos input{
    padding-top: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid grey;
}
.register .datos-personales p{
    margin: 10px 0;
    text-transform: capitalize;
    font-style: italic;
    font-weight: bold;
}
.register .datos-personales .birthday input{
    width: 32.3%;
}
.register .datos-personales .birthday label{
    display: block;
}

.register .datos-personales .checkbox label{
    color: var(--negro);
    font-weight: normal;
    text-transform: initial;
}
.register .boton-registro{
    text-align: center;
}
.register .registrame{
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-color: black;
    border-radius: 5px;
    border: none;
}
.register .registrame input{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border-radius: 5px;
    border: none;
}
@media (min-width: 768px){
    
}